# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Emilia\Documents\Master\COSC 5F90 (MSc Thesis)\Code_DEAP_GraphCompression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
